<!DOCTYPE html>
<html lang="en" style="margin-top: 0px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger</title>
</head>
<body style="margin: 0px; background-color: rgb(29, 130, 135);">
    <h2 class="info">Express your thoughts and opinion via blogs!</h2>
    <h2 style="text-align: center;">Create your own blogs easily</h2>
    <form action="/submit" method="POST">
        <button class="create" id = "button">CREATE YOUR BLOG</button>
    </form>
    <div style="text-align: right;">
        <img class="baloons" src="images/baloons.png"/>
        <img class="world" src="images/world.png"/>
    </div>
</body>
</html>