* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins; 
}

body {
    background-color: #f4f4f9;
}

.navbar {
    /* background: linear-gradient(135deg, #6c63ff, #4a47a3); */
    background: linear-gradient(to bottom, black, #333);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0 20px;
    color: white;
    position: sticky; 
    top: 0;
    z-index: 1000; 
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .profile-container {
    display: flex;
    align-items: center;
    gap: 15px; 
}


.navbar .date-time {
    text-align: right;
    color: white;
    font-size: 0.9rem;
}

.navbar .profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('https://clipart-library.com/8300/stopwatch_PNG14.png') center/cover no-repeat; /* Placeholder image */
    border: 2px solid white;
    background-color: white;
}

.navbar .calendar {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.content {
    margin: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px ; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card p{
    padding: 10px;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 1px;
    padding: 10px;
}

#card1{
    color: white;
    background: linear-gradient(to bottom, black, #333);
}

.button {
    /* background: linear-gradient(135deg, #4a47a3, #6c63ff); */
    background: linear-gradient(to bottom, black, #333);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s; 
}

.button:hover {
    /* background: linear-gradient(135deg, #6c63ff, #4a47a3); */
    background: linear-gradient(to bottom, #686868, rgba(0, 0, 0, 0.637));
}

.options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 20px; 
}

.option {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s; 
}

.option:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}


.option i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #6c63ff;
}

.option h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

@media (max-width:750px) {
    .card{
        flex-direction: column;
    }
}
@media (max-width:450px) {
    .card{
        flex-direction: column;
    }
}